.vertical_nav{
    width: 200px;
    background-color: lightcyan;
    border:1px solid gray;
}

.vertical_nav a{
    display: block;
    color: blue;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
}

.vertical_nav a.active{
    background-color: orange;
    color: white;
}

.vertical_nav a:hover{
    background-color: white;
    color: black;

}